<a href='invalid-url' disabled></a>
<input value="something">

<SomeComponent @arg="value"/>
<SomeComponent @arg=1/>
<SomeComponent @arg=foo/>
<SomeComponent @arg={{foo.[0].prop}} @bar={{property}} />
<MyAddon$MyComponent @arg={{foo.[0].prop}} @bar={{property}} />
<MyAddon$Namespace::MyComponent @arg={{foo.[0].prop}} @bar={{property}} />
<SomeComponent @arg={{foo.[0].prop}} @bar={{fn myAction}} />
<Select
    data-test-select
    @items={{foo.[0].prop}}
    @onSelectItem={{action "setValue"}}
    @selectedValue={{foo}}
/>
